<div style="padding-bottom : 80px">


<div class="content-title">
    <h1 class="title">FERIA AMERICANA - LA SALADA - THRIFTSHOP - TOMA ESTA REMERA QUE YA NO USO</h1>
</div>
<div class="content-descr">
    <p class="descr">Llamalo como quieras, a menor o a mayor medida, desde el placer de que te regalen o vendan una prenda en buen estado con un buen significado, hasta miles de familias de todas partes que hoy pueden subsistir gracias a el “THRIFTING”</p>
</div>
<div class="content-title">
    <h1 class="title">CÓMO TODO, TIENE SU ORIGEN.</h1>
</div>
<div class="content-descr">
    <p class="descr">La historia de las thrift shops comenzó a construirse en el período de 1760 a 1840. La Revolución Industrial del siglo XIX introdujo la producción en masa de ropa, lo que cambió la forma en que las personas percibían el mundo de la moda. En aquel entonces, la ropa era muy barata y la gente solía desechar las prendas que ya habían usado. 
        Las tiendas de segunda mano comenzaron a ganar popularidad a medida que las personas se dieron cuenta de los beneficios que ofrecen tanto a nivel individual como a nivel comunitario. Al comprar en un thrift shop, no solo tienes la oportunidad de encontrar prendas únicas a precios asequibles, sino que también estás contribuyendo a reducir el desperdicio y el impacto ambiental asociado con la industria de la moda. En resumen, la historia del thrift shop es una historia de cambio y conciencia. Estas tiendas han pasado de ser consideradas lugares poco atractivos a convertirse en destinos emocionantes para aquellos que buscan un estilo personal único y sostenible. La compra de prendas de segunda mano es una forma de expresión individual y un paso hacia un futuro más sostenible y solidario.</p>
</div>

<div class="content-title">
    <h1 class="title">HOY</h1>
</div>
<div class="content-descr">
    <p class="descr">No hay que usar ejemplos americanos ni europeos, miles de personas están pudiendo subsistir de esto, podemos verlo en la mayoría de grandes parques a lo largo de la ciudad, en capital, en provincia, en todos lados.
        De eso trata THRIFTarg, una plataforma amigable creada específicamente para la compra y venta de ropa de segunda mano, facilitando la transacción, el cómo y dónde la buscas la ropa que deseas.
        </p>
</div>


<div class="content-img">
    <img src="../../../assets/img-about1.jpg" class="about-img" alt="">
    <img src="../../../assets/img-about2.jpg" class="about-img" alt="">
    <img src="../../../assets/img-about3.jpg" class="about-img" alt="">
    <img src="../../../assets/img-about4.jpg" class="about-img" alt="">
    <img src="../../../assets/img-about5.jpg" class="about-img" alt="">
</div>

<div class="content-title" style="margin-top: 15px;">
    <h1 class="title">Equipo de Desarrollo  </h1>
</div>

<div class="content-card">

    <div class="card">
        <img class="person" src="../../../assets/santi.jpg" alt="">
        <p class="person-descr">Santiago Martinez</p>
    </div>

    <div class="card">
        <img class="person" src="../../../assets/erik.jpg" alt="">
        <p class="person-descr">Erik Jimenez</p>
    </div>

    <div class="card">
        <img class="person" src="../../../assets/kevin.jpg" alt="">
        <p class="person-descr">Kevin Caceres</p>
    </div>

    <div class="card">
        <img class="person" src="../../../assets/denar.jpg" alt="">
        <p class="person-descr">Denar Padilla</p>
    </div>

    <div class="card">
        <img class="person" src="../../../assets/aaron.jpg" alt="">
        <p class="person-descr">Aaron Almao</p>
    </div>
</div>

 
</div>       

